{% extends "base.html" %}

{% load static %}


{% block title %}Eshop{% endblock %}


{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.jpg' %}"style="height: 45px" alt="Logo de la marque"/>
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'eshop' %}">Boutique</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

    </header>
<section class="slide-eshop">
    <ul class="slideshow-eshop">
        <li><span></span></li>
        <li><span>2</span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
    </ul>
</section>

<section class="eshop">

    {% for category in categories %}
    <article class="eshop-card">
        <div class="eshop1">
            <!-- Vous pouvez ajouter une image de catégorie si vous avez un champ image dans le modèle Category -->
            <div class="text-eshop">
                <img src="{{ category.image.url }}" alt="{{ category.name }}">
                <h2 class="title-eshop">{{ category.name }}</h2>
                <p>{{ category.description }}</p>
                <a href="{% url 'product_list' %}?category={{ category.id }}" class="btn btn-custom">Voir les produits</a>
            </div>
        </div>
    </article>
    {% endfor %}
</section>

{% endblock %}