{% load static %}

{% block title %}
    Détails de {{ product.name }}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<header class="header">
        <nav class="navbar">
            <div class="logo">
                <img src="{% static 'images/logo.jpg' %}"style="height: 45px" alt="Logo de la marque"/>
            </div>
            <ul>
                <li><a href="{% url 'home' %}">Accueil</a></li>
                <li><a href="{% url 'eshop' %}">Boutique</a></li>
            </ul>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>

    </header>
    <main class="container">
        <section class="product-detail">
            <div class="product-detail-image">
                <!-- Image du produit -->
                    <img src="{{ product.image.url }}" style= height:400px alt="{{ product.name }}">


            </div>
            <div class="product-info">
                <h1>{{ product.name }}</h1>
                <!-- Description, catégorie, prix et bouton d'ajout au panier -->
                <p>{{ product.description }}</p>
                <p>Catégorie : {{ product.category }}</p>
                <p>Prix : {{ product.price }} €</p>
                {% if product.quantity > 0 %}
<a href="{% url 'cart_add' product.id %}" class="btn btn-primary">Ajouter au panier</a>
                {% else %}
                    <p class="text-danger">Temporairement en rupture de stock</p>
                {% endif %}
            </div>
        </section>
    </main>
    <footer class="footer">
        <p>&copy; 2024 Sloane Peters. Tous droits réservés.</p>
        <p>
            <a href="#">Mentions légales</a> |
            <a href="#">Politique de confidentialité</a> |
            <a href="#">Conditions générales</a>
        </p>
        <p>
            Adresse : 10 rue de la collection.<br>
            Téléphone : 0125364225<br>
            Email : sloane.peter@eshop.fr
        </p>
    </footer>
{% endblock %}
