{% extends "base.html" %}
{% load static %}
{% block title %}
    Liste des produits
{% endblock %}

{% block content %}
    <div class="product-container">
        <h1 class="product-title">Liste des produits</h1>
        <div class="product-grid">
            {% for product in products %}
                <div class="product-card">
                    <img src="{{ product.image.url }}" class="product-image" alt="{{ product.name }}">
                    <div class="product-info">
                        <h5 class="product-name">{{ product.name }}</h5>
                        <p class="product-description">{{ product.description }}</p>
                        <a href="{% url 'product_detail' product.id %}" class="product-button">Voir détails</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
