{% load static %}
{% block title %}
    Détails de {{ product.name }}
{% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <main class="container">
        <section class="product-detail">
            <div class="product-image">
                <!-- Image du produit -->
                    <img src="{% static 'images/uploads/prd4.jpg' %}" alt="Image de Zoe"/>

            </div>
            <div class="product-info">
                <h1>{{ product.name }}</h1>
                <!-- Description, catégorie, prix et bouton d'ajout au panier -->
                <p>{{ product.description }}</p>
                <p>Catégorie : {{ product.category }}</p>
                <p>Prix : {{ product.price }} €</p>
                {% if product.stock > 0 %}
                    <a href="{% url 'cart_add' products.id %}" class="btn btn-primary">Ajouter au panier</a>
                {% else %}
                    <p class="text-danger">Temporairement en rupture de stock</p>
                {% endif %}
            </div>
        </section>
    </main>
{% endblock %}
