{% extends 'base.html' %}
{% load static %}

{% block title %}Créer un compte{% endblock %}
{% block content %}
<main>
    <div class="auth-container">
        <div class="auth-image">
            <img src="{% static 'images/marie2.jpg' %}" alt="Image d'inscription">
        </div>
        <div class="auth-form">
            <h1>Créer un compte</h1>
            <form method="POST" action="{% url 'signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Créer un compte</button>
            </form>
            <p>Déjà un compte? <a href="{% url 'login' %}">Connectez-vous ici</a>.</p>
        </div>
    </div>
</main>
{% endblock %}
